.v{
    padding: 3rem 1rem;
    background-color: rgb(128, 70, 70);
    opacity: 0;
}

.v:hover{
    opacity: 0.5;
}

.dot{
    padding: 1rem;
    background-color: black;
}


.h{
    padding: 1rem 3rem;
    background-color: rgb(24, 24, 24);
    opacity: 0;
}
.h:hover{
    opacity: 0.5;
}

/* .square:hover{
    background-color: grey;
} */

table{
    margin: auto;
}